<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.danielsogl.cordova.useragent"
	version="1.0.0">
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>
	<name>User-Agent</name>
	<description>Allows you to change your User-Agent for HTTP requests.</description>
	<author>Louis T.</author>
	<keywords>user,agent,useragent,user-agent</keywords>
	<license>Apache 2.0 License</license>
	<js-module src="www/UserAgent.js" name="UserAgent">
		<clobbers target="UserAgent" />
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="UserAgent" >
				<param name="android-package" value="com.danielsogl.cordova.useragent"/>
                                <param name="onload" value="true" />
			</feature>
		</config-file>
		<source-file src="src/android/useragent.java" target-dir="src/com/danielsogl/cordova/useragent" />
	</platform>
	<platform name="ios">
		<plugins-plist key="UserAgent" string="UserAgent" />

		<config-file target="config.xml" parent="/*">
			<feature name="UserAgent">
				<param name="ios-package" value="UserAgent" />
			</feature>
		</config-file>

		<header-file src="src/ios/UserAgent.h" />
		<source-file src="src/ios/UserAgent.m" />
	</platform>
</plugin>
